# Personal notes
_notes/

# Ignore simulation output, except for paper run
data/simulations
!data/simulations/paper_data

# Ignore plots
analysis/figures

# OS cruft
.DS_Store
Thumbs.db

# Byte-compiled / temporary
*.pyc
__pycache__/
*.swp

# Jupyter auto-checkpoints
.ipynb_checkpoints/

